<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Ember<span>Facebook</span></a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="home"><a href="#">Home</a></li>
          <li class="layout-nesting"><a href="#layout-nesting">Layout Nesting</a></li>
        </ul>
      </div>
      <div class="float-right">
        {{#view Em.FacebookLoginButton type="login-button" text="Conectar" data-size="xlarge" data-scope="email, offline_access"}}
          <img {{bindAttr src="App.FBUser.picture" alt="App.FBUser.name"}} />
          {{App.FBUser.name}}
          <a href="#" {{action "logout" target="FB"}} class="btn btn-danger">Sair</a>
        {{/view}}
      </div>
    </div>
  </div>
</div>

<div class="container">
  {{yield}}
</div>