<!DOCTYPE html>
<html>
  <head>
    <title>EmberFacebook</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <base href="http://localhost:3000" />
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
    <div id="fb-root"></div>
  </body>
</html>
